<!DOCTYPE html>
<html>
  <head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-green-100">
    <div class="text-green-700 px-4 py-20 rounded relative" role="alert">
      <div class="container mx-auto text-center">
        <strong class="font-bold text-center">Congrats!</strong>
        <span class="block sm:inline text-center">You Win!!</span>
      </div>
    </div>
  </body>
</html>
